$myFonts: "Georgia Regular", sans-serif;
$superLightColor: #fff;
$lightColor: #999;
$mediumColor: #888;
$mediumColor-2: #7f7f7f;
$darkColor: #333;
$superDarkColor: #1f1f1f;
$hoverColor: #00acee;
$majorColor: #81b300;